body {
	margin-top: 80px;
	color: #000000;
}
hr {
	border: 2px solid #e74c3c;	
}
a {
	color: #000000;
}
a:hover {
	text-decoration: none;
}
#photographer-menu .btn {
	display: block;
	background: none;
	margin: 10px auto;
	border-radius: 0;
	border-color: #000000; 
}

#photographer-menu .btn .glyphicon {
	color: #e74c3c;
}

#photographer-menu .form_datetime {
	margin: 10px auto;
}

#photographer-menu .form_datetime .form-control,
#photographer-menu .form_datetime .input-group-addon {
	background-color: #ffffff;
	border-color: #000000; 
	border-radius: 0;
}

#photographer-menu #review-button #review-up {
	display: none;
}

#list-photographer li {
	list-style: none;
	padding: 20px 35px;
	margin: 0 0 30px 0;
	text-align: center;
}
#list-photographer img {
	width: 150px;
	height: 150px;
	display: block;
	margin: 0 auto;
}
#list-photographer h4 {
	text-align: center;
}
#list-photographer hr {
	border: 0.5px solid #2b2b2b;
}
#list-photographer .fa-heart {
	color: #e74c3c;
}
#list-photographer .btn {
	display: block;
	width: 75%;
	margin: 0 auto;
	text-align: center;
}
