#category-navbar {
  display: none;
}

/* dinh dang form register */
 #reg-log {
  margin-top: 60px;
  color: #000000;
  height: 100%;
}
#register input {
  border-radius: 0px;
}
#register label {
  font-weight: normal;
}
#register a {
  color: #e74c3c;
}
#register a:hover {
  color: #666;
  text-decoration: none;
}
#register select{
  color: #e74c3c;
  border-radius: 0px;
} 