/*========================================
=            REGISTER PAGE               =
========================================*/
/* dinh dang form register */
#register {
  margin-top: 60px;
  color: black;
  height: 100%;
}
#register input {
  border-radius: 0px;
}
#register label {
  font-weight: normal;
}
#register a {
  color: #e74c3c;
}
#register a:hover {
  color: #666;
  text-decoration: none;
}
#register #reg {
  padding-top: 50px;
}
#register #reg select{
  border-radius: 0px;
}