/*========================================
=            REGISTER PAGE               =
========================================*/
#navbar-collapsible{
  display: none !important;
}

/* dinh dang form register */
#reg-log {
  margin-top: 60px;
  color: black;
  height: 100%;
}
#reg-log input {
  border-radius: 0px;
}
#reg-log label {
  font-weight: normal;
}
#reg-log a {
  color: #e74c3c;
}
#reg-log a:hover {
  color: #666;
  text-decoration: none;
}
#reg-log #reg {
  padding-top: 50px;
}
#reg-log #register select{
  border-radius: 0px;
}