html, body {
  font-family: 'Arimo', sans-serif;
  height:100%;
  color: white;
}


/*========================================
=            HEADER - FOOTER             =
========================================*/
/*======= REPONSIVE =========*/
@media (max-width: 767px) {
  h2 {
    font-size: 26px;
  }
  h4 {
    font-size: 14px;
  }
  a, label {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  
}
@media (min-width: 992px) and (max-width: 1199px) {
  label {
    font-size: 12px;
  }
}
/*@media (min-width: 1200px) {  lg  }*/


.fa-facebook-f:hover {
  color: #3b5998;
}
.fa-twitter:hover {
  color: #1da1f2;
}
.fa-google-plus:hover {
  color: #db4437;
}
/*=================*/
a {
    color:#ecf0f1;
}

a:hover {
    color:#111;
}

.btn,.well,.panel {
    border-radius:0;
}
.btn-danger {
    background-color:#e74c3c;
}
.text-danger, a.text-danger {
    color:#e74c3c;
}
.btn-huge {
    padding:17px 22px;
    font-size:22px;
}
.icon-bar {
  background-color:#fff;
}



/*========= NAVBAR ============*/
.navbar-trans {
  background-color: #2b2b2b;
  color:#ecf0f1;
  border-width:0;
}
.navbar-trans .navbar-brand, .navbar-trans >.container-fluid .navbar-brand {
  padding: 14px;
  color:#e74c3c;
}
.navbar-trans li>a:focus,.navbar-trans li.active {
  background-color:#e74c3c;
  color:#333;
}
.navbar-trans li>a:hover {
  background-color:#e74c3c;
  color:#fff;
  opacity:0.5;
}
.navbar-trans a{
  color:#ecf0f1;
  letter-spacing:1px;
}
.navbar-trans .form-control:focus {
  border-color: #eee;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}



/*======= FOOTER ===========*/
footer {
  background-color:#2b2b2b;
  color:#ddd;
  min-height:100px;
  padding-top:20px; 
}
footer .nav>li>a {
  padding: 3px;
  color: #e74c3c;
}
footer .nav>li>a:hover {
  background-color:transparent;
  color:#fff;
}
footer h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #e74c3c;
}



/*========================================
=               MAIN PAGE                =
========================================*/
section {
  padding-top:70px;  
  padding-bottom:50px;
  min-height:100%;
  min-height:calc(100% - 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#section1 .scroll-down {
  position: absolute;
  left: 84%;
  bottom: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  display: block;
  padding: 7px;
  text-align: center;
  z-index:-1
}
.scroll-up {
  position: fixed;
  display: none;
  z-index: ecf0f1;
  bottom: 2em;
  right: 2em;
}
.scroll-up a {
  background-color: rgba(135, 135, 135, 0.5);
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}
@media (min-width:768px) {
  .v-center {
      height: 50%;
      overflow: visible;
      margin: 70px auto;
      /*margin-top: 300px;*/
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
  }
  .v-center_2 {
      height: 50%;
      overflow: visible;
      /*margin: 70px auto;*/
      position: absolute;
      top: 25%; left: 70%; bottom: 0; right: 0;
  }
}  
#section1 {
  background: center no-repeat fixed url('/assets/image/background1.jpg');
  background-size: cover;
}
#section1 h2 {
  color: #2c3e50;
  font-weight: 600;
}
#section5 {
  background-color: #2b2b2b; 
  color: white;
}
#section5 h1 {
  font-size: 70px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 3%;
}
#section5 input, #section5 textarea, #section5 button {
  color: white;
  border-radius: 0px;
  background: #2b2b2b;
  border: none;
  border-bottom: 1px solid #e74c3c;
}
#section5 button {
  border-top: 1px solid #e74c3c;
  width: 100%;
}
#section5 address a{
  color: #e74c3c;
  text-decoration: none;
}
#section2 {
  background-color: #fff;
}
#section3 {
  background: 50% 0 no-repeat fixed url('/assets/image/background2.jpg');
  background-size: cover;
  min-height: 1000px;
}

#counter-number {
  padding: 0;
  color: white;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
} 
#counter-number .section-heading {
  font-size: 40px;
  font-weight: 900;
  padding: 50px;
  margin: 0px;
  line-height: 1;
}
#counter-number .section-heading p {
  width: 150px;
  height: 3px;
  background: #e74c3c;
  margin: 20px auto;
}
#counter-number .container {
  padding-top: 5%;
  padding-bottom: 20%;
  position: absolute;
  z-index: 2;
  width: 100%;
  overflow: hidden;
  display: block;
}
#counter-number .count {
   padding: 0 5%; 
}
#counter-number .count h1 {
  border: 3px solid white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 56px;
  font-weight: 700;
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#counter-number .count .fa {
  width: 50px;
  height: 50px;
  position: relative;
  margin-left: 37.37%;
  margin-right: 37.37%;
  background-color: #fff;
  color: #000;
  top: -48px;
  font-size: 26px;
  font-weight: 400;
  padding-top: 12px;
  line-height: normal;
  margin-bottom: -20px;
  transition: all 0.3s;
}
#counter-number .count .items:hover h1 {
  background: white;
  color: #e74c3c;
  font-weight: bold;
}
#counter-number .count .items:hover .heading-1 {
  color: #e74c3c;
}
#counter-number .count .items:hover .fa {
  background: #e74c3c;
  color: white;
}
#counter-number .count .heading-1{
  font-size: 28px;
  font-weight: 700;
} 
#counter-number #video video {
  display: block;
  width: 100%;
  filter: brightness(50%);
}
#section6 {
  background-color: #fff;
}
#section7 {
  background-color: #eee;
  min-height:130px;
  padding-top:40px;
  padding-bottom:40px;
}
#section8 {
  height: 100%;
  color: #2b2b2b;
  min-height:130px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
  text-transform: uppercase;
}
#section8 #we-love h1, #section8 #we-love .fa  {
  font-size: 70px;
  font-weight: 700;
  padding: 3%;
}
#section8 #fa-contact .fa {
  font-size: 70px;
  font-weight: 100;
  padding: 4%;
  color: #50230B;
}
#section8 .diagonal {
  content: '';
  background: #2b2b2b;
  padding: 43px 0;
  transform: rotate(-3deg);  
  position: relative;
  top: -50px; right: 0; bottom: 0; left: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(-3deg);
}




/*========================================
=            REGISTER PAGE               =
========================================*/
/* dinh dang form register */
#register {
  margin-top: 60px;
  color: black;
  height: 100%;
}
#register input {
  border-radius: 0px;
}
#register label {
  font-weight: normal;
}
#register a {
  color: #e74c3c;
}
#register a:hover {
  color: #666;
  text-decoration: none;
}
#register #reg {
  padding-top: 50px;
}
#register #reg select{
  border-radius: 0px;
}



/*========================================
=        FREELANCER DETAIL PAGE          =
========================================*/
/*Freelancer Information*/
#Frl-info {
  background-image: url('../image/pagetitle3.jpg');
  margin-top: 50px;
  color: #fff;
  font-size: 15px;
}
#Frl-info .container {
  padding: 30px 0px;
}
#Frl-info .container a {
  border-radius: 0px;
}


/*Freelancer Skill + Info*/
#Frl-skill {
  padding-bottom: 10px;
  padding-top: 10px;
  background: #333333;
  color: #CCCCCC;
}
#Frl-skill h3 {
  text-transform: uppercase;
  padding-bottom: 5px;
  font-weight: bold;
  line-height: 18px;
}

/*Freelancer Skill*/
#Frl-skill .progress {
  border-radius: 0px;
  background: #4C4C4C;
  animation-name: progress;
  -webkit-animation-name: progress;
}
#Frl-skill .progress #photo-skill
,#Frl-skill .progress #film-skill
,#Frl-skill .progress #pts-skill
,#Frl-skill .progress #video-skill {
  height: 20px;
  min-width: 0%;
  max-width: 100%;
  text-align: center;
  background: #e74c3c;
  -webkit-animation: progress 2s 1 forwards;
  -moz-animation: progress 2s 1 forwards;
  -ms-animation: progress 2s 1 forwards;
  animation: progress 2s 1 forwards;
}
@-webkit-keyframes progress { 
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes progress { 
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

/*Freelancer Other Info*/
#Frl-skill .nav-tabs a {
  border-radius: 0px;
}


/*Feelancer Filter Image*/
/* ---- isotope ---- */
/* ui group */
#Frl-filter .isotope-filter {
  background: #ffffff;
  text-align: center;
  margin-top: 10px;
  z-index: 7ecf0f1;
  font-size: 18px;
  padding: 17px 0px;
  margin: 0px;
  width: 100%;
}
/* img-grid */
#Frl-filter .row {
  overflow: hidden; 
  margin: 0;
}
#Frl-filter .img-grid {
  height: 300px;
  margin: 0px;
  padding:0px;
  float: left;
}


/*Freelancer Order Show*/

#Frl-order *, #Frl-order *:before, #Frl-order *:after {
  box-sizing: border-box;
}
#Frl-order {
  background: rgba(19,35,47,.9);
}
#Frl-order .form {
  padding: 20px;
  max-width:600px;
  margin: auto;
  border-radius:4px;
  box-shadow:0 4px 10px 4px rgba(19,35,47,.3);
}
#Frl-order h1 {
  text-align: center;
  text-transform: uppercase;
  color: #e74c3c;
  margin:0 0 40px;
}
#Frl-order form {
  margin: auto;
}
#Frl-order .field-wrap {
  position:relative;
  margin-bottom:40px;
}
#Frl-order .top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child { 
      margin:0;
    }
  }
}
#Frl-order label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color: rgba(255,255,255,.5);
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:20px;
  font-weight: 100;
  .req {
    margin:2px;
    color:;
  }
}
#Frl-order label.active {
  transform:translateY(-25px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}
#Frl-order label.highlight {
  color: white;
}
#Frl-order input {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid #a0b3b0;
  color: #FFF;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
}
#Frl-order textarea {
  border:2px solid #1ab188;
  resize: vertical;
}
#Frl-order input:focus, #Frl-order textarea:focus {
  outline:0;
  border-color: #1ab188;
}
#Frl-order select {
  background: rgba(19,35,47,.9);
  color: rgba(255,255,255,.5);
  left:2px;
  font-size: 20px;
  font-weight: 100;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
}
#Frl-order .button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:300;
  text-transform:uppercase;
  letter-spacing:.1em;
  color:#FFF;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:darken(26,177,136,5%);
  }
}
#Frl-order .button-block {
  display:block;
  width:100%;
}


/*========================================
=       FREELANCER CATEGORY PAGE         =
========================================*/
#Frl-category {
  margin-top: 75px;
  background-color: #fff;
}
/*
* Uses Font Awesome and Bootstrap 3
* Both aren't required for this demo
*/
#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  
  height: 5000px; /* Temp: Simulates a tall page. */
}
#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);  
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);  
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all; 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.show-nav #site-canvas {
  -webkit-transform: translateX(250px);
  transform: translateX(250px);  
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}
#site-menu {
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -250px;
  background: #5E5A59;
  color: #F2CA80;
}
#site-menu .toggle-nav {
  text-align: right;
}
#site-menu i {
  padding: 5px 10px;
  color: white;
  width: 100px;
  background-color: black;
  font-size: 35px;
  text-align: left;
  border-radius: 25px 0px 0px 25px;
}
#big-sexy {
  top: 0;
  display: left;
  font-size: 15px;
  border-radius: 0px;
}
#Frl-category .grid {
  margin: 10px;
}
#Frl-category .img-grid {
  background: black;
  padding: 0px;
  width: 200px;
  margin: 10px;
}
#Frl-category .img-grid a{
  text-decoration: none;
}
#Frl-category .img-grid img {
}